.furniture {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.furniture__img {
    width: 300px;
    height: 253px;
}
.furniture__name{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat';
    margin: 10px 0;
}

.furniture__name--category{
    color: #2d2d2d;
    text-transform: capitalize;
}

.furniture__name--model{
    color: #EC7F00;
    text-transform: uppercase;
}

.furniture__cost{
    color: #2d2d2d;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat';
}