a {
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
  color: #f2a500;
}

button {
  cursor: pointer;
}

nav {
  z-index: 100px;
  display: flex;
  justify-content: center;
  margin: 48px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu-items {
  font-family: "Montserrat", sans-serif;
  margin-right: 70px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
